.first{
    position: relative;
    @media (max-width:768px){
        max-width: 768px;
        margin: 0 auto;
    }
    @media (max-width:320px) {
        max-width: 320px;
        margin: 0 auto;
        background-image: url(./assets/images/bg-image-2.png);
        background-size: cover;
        padding: 70px 10px 230px 10px;
        position: static;
        }
    &__heading{
        position: absolute;
        top: 100px;
        left: 135px;
        @include red-hat(600, 48px);
        @media (max-width:768px){
            font-size: 36px;
            top: 30px;
            left: 34px;
        }
        @media (max-width:320px) {
            width: 80%;
            font-size: 30px;
            position: static;
}
    }
    &__background{
        width: 100%;
        @media (max-width:320px){
           display: none;
        }
    }
}

.blog{
    @include center(81%, 1170px);
    margin-top: 90px;
    @media (max-width:768px){
        max-width: 768px;
        margin: 0 auto;
        margin-top: 70px;
    }
    @media (max-width:320px){
        margin-top: 10px;
    }
    &__heading{
        @include red-hat (400, 48px);
        @media (max-width:320px){
            text-align: center;
        }
    }
    &__card{
        @include flex-around;
        margin-top: 50px;
        @media (max-width:320px){
            display: flex;
            flex-direction: column-reverse;
        }
        &__image{
            width: 50%;
            @media (max-width:768px){
                width: 45%;
                height: fit-content;
            }
            @media (max-width:320px){
                width: 100%;
            }
        }
        &__container{
            padding: 50px;
            width: 50%;
            @include lato();
            @media (max-width:768px){
                padding: 0;
            }
            @media (max-width:320px){
                width: 100%;
            }
            &__intro{
                color: $lightgrey;
                margin-bottom: 30px;
                @media (max-width:768px){
                    margin-top: 0;
                }
            }
            &__heading{
                @include red-hat(500, 23px);
                width: 65%;
                margin: 0;
                @media (max-width:768px){
                    width: 100%;
                }
                @media (max-width:320px){
                    font-size: 22px;
                }
            }
            &__date{
                color: $lightgrey;
            }
            &__text{
                margin-top: 50px;
                width: 78%;
                color: $darkgrey;
                @media (max-width:768px){
                    margin-top: 40px;
                    width: 100%;
                }
                a:hover::before {
                    content: 'Read More';
                    color: black;
                }    
                a:hover {
                    text-decoration: none;        
                    svg path {
                        fill: black;
                    }
                }
                a {
                    @media (max-width:320px) {
                        opacity: 0;
                    }
                }
            }
        }
    }
    .blog-card-2{
        @media (max-width:320px){
            flex-direction: column;
        }
    }
}

.latest{
    @include center(81%, 1170px);
    margin-top: 90px;
    @media (max-width:768px){
        margin: 0 auto;
        margin-top: 70px;
        max-width: 768px;
    }
    &__heading{
        @include flex-between();
        align-items: center;
        @media (max-width:320px){
            flex-direction: column;
            align-items: flex-start;
        }
        &__text{
            @include red-hat(600, 28px);
            @media (max-width:320px){
                margin-top: 0;
                margin-bottom: 10px;
            }
        }
        &__link{
            @include lato;
            text-decoration: none;
            color: $lightgrey;
            @media (max-width:320px){
                margin-bottom: 30px;
            }
        }
        &__link:hover {
            color: black;    
            svg path {
                fill: black;
            }        
        }
    }
    &__container{
        @include flex-around;
        gap: 30px;
        @media (max-width:768px){
            flex-direction: column;
        }
        &__card{
            @media (max-width:768px){
                display: flex;
                justify-content: space-around;
            }
            @media (max-width:320px){
                flex-direction: column;
            }
            &__image{
                @media (max-width:768px){
                    width: 48%;
                }
                @media (max-width:320px){
                    width: 100%;
                }
            }
            &__info{
            @media (max-width:768px){
                width: 48%;
            }
            @media (max-width:320px) {
                width: 100%;
            }
                &__date{
                    @include flex-between;
                    @include lato(12px);
                    color:  $lightgrey;
                }
                &__heading{
                    @include red-hat(500, 22px);
                    @media (max-width:768px){
                        margin-top: 25px;
                        margin-bottom: 20px;
                    }
                }
                &__text{
                    @include lato;
                    color: $darkgrey;
                }
            }
        }
        .latest-card-2{
            @media (max-width:768px){
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-around;
            }
            @media (max-width:320px){
                flex-direction: column;
            }
        }
    }
}

.popular{
    @include center(81%, 1170px);
    margin-top: 90px;
    @media (max-width:768px) {
        max-width: 768px;
        margin: 0 auto;
        margin-top: 70px;
            }
        &__heading {
                @include flex-between();
                align-items: center;
                @media (max-width:320px){
                    flex-direction: column;
                    align-items: flex-start;
                }
                &__text {
                    @include red-hat(600, 28px);
                    @media (max-width:320px) {
                        margin-top: 0;
                        margin-bottom: 10px;
                }
                }
        
                &__link {
                    @include lato;
                    text-decoration: none;
                    color: $lightgrey;
                    @media (max-width:320px) {
                        margin-bottom: 30px;
                    }
                }
                &__link:hover{
                    color: black;
                    svg path{
                        fill: black;
                    }
                    
                }
            }
        &__container {
            @include flex-around;
            gap: 30px;
            @media (max-width:768px){
                width: 100%;
            }
            @media (max-width:320px){
                flex-direction: column;
            }
    
            &__card {
                @media (max-width:768px){
                    width: 49%;
                }
                @media (max-width:320px){
                    width: 100%;
                }
                &__image{
                    @media (max-width:768px){
                        width: 100%;
                    }
                }
                &__info {
                    &__date {
                        @include flex-between;
                        @include lato(12px);
                        color: $lightgrey;
                    }
    
                    &__heading {
                        @include red-hat(500, 24px);
                        @media (max-width:768px){
                            font-size: 22px;
                            margin-top: 20px;
                            margin-bottom: 20px;
                        }
                    }
    
                    &__text {
                        @include lato;
                        color: $darkgrey;
                    }
                }
            }
        }
        &__button {
            background-color: $darkgrey;
            color: white;
            @include lato;
            font-weight: 700;
            padding: 10px 45px;
            width: 180px;
            border: none;
            text-decoration: none;
            margin: 0 auto;
            display: block;
            text-align: center;
            margin-top: 60px;
        }
        &__button:hover{
            background-color: #323232;
        }
}

.final{
    @include flex-between;
    @include center(81%, 1170px);
    margin-top: 90px;
    margin-bottom: 90px;
    @media (max-width:768px){
        max-width: 768px;
        margin: 0 auto;
        margin-top: 70px;
        flex-direction: column;
        margin-bottom: 70px;
    }
    &__link{
        @include red-hat(400, 23px);
        width: 40%;
        @media (max-width:768px){
            width: 80%;
            align-self: start;
            margin-bottom: 70px;
        }
        @media (max-width:320px){
            font-size: 24px;
        }
        p{
            margin-bottom: 0;
        }
        a:hover::before{
            content: 'Read More';
            color: black;
            }
        a:hover{
            text-decoration: none;
            svg path {
                    fill: black;
        }
        }
        
    }
    &__text{
        width: 39%;
        @include lato(19px);
        color: $darkgrey;
        @media (max-width:768px){
            width: 80%;
            align-self: flex-end;
            text-align: end;
        }
        @media (max-width:320px){
            align-self: flex-start;
            text-align: start;
            width: 100%;
            font-size: 18px;
        }
        p{
            @media (max-width:768px){
                margin: 0;
            }
        }
    }
}
