* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(../assets/images/bg-picture.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}


.header {
    width: 83%;
    margin: 0 auto;
    margin-bottom: 13px;
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: white;
}

.nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.lang {
    font-family: 'Tourney', cursive;
    font-weight: 600;
    font-size: 22px;
}

.documentation {
    font-family: 'Staatliches', cursive;
    font-size: 22px;
    font-weight: 400;
}

.main-content{
    display: flex;
    margin-top: 150px;
    justify-content: space-around;

}
.sidebar{
    width: 27%;
}
.sidebar-container{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 150px;
}
.sidebar-container a{
    font-family: 'Francois One', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    margin-bottom: 80px;
}

.main-text {
    width: 54%;
}

.heading {
    font-family: 'Francois One', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.heading sup {
    font-family: 'Farro', sans-serif;
    font-weight: 300;
    font-size: 42%;
    text-transform: capitalize;
    vertical-align: super;
}

.main-text p {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
}

.highlight {
    background-color: #DADADA;
}

.introduction,
.core-components,
.react-fundamentals {
    margin-bottom: 70px;
}

.react-fundamentals p {
    margin-bottom: 40px;
}

hr{
    width: 20%;
    margin-left: 0;
    border: 4px solid black;
    background-color: black;
}